{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-css-order"],
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "plugins": [
          "prettier-plugin-organize-imports",
          "prettier-plugin-tailwindcss",
          "prettier-plugin-css-order"
        ],
        "tailwindStylesheet": "./src/assets/base.css"
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true
}
